@font-face {
  font-family: "Gameplay";
  src: url("./polices/Gameplay.ttf");
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ecca3;
  font-family: "Gameplay";
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Gameplay";
}

img {
  width: 80%;
}

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.result {
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

#myButton {
  display: inline-block;
  border: 2px solid #4ecca3;
  padding: 7px 21px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  color: red;
  font-family: "Gameplay";
}

#myButton:hover {
  background-color: lightgray;
  transition: 0.9s;
}

@media screen and (min-width: 250px) and (max-width: 500px) {
  img {
    width: 30%;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  p {
    margin: 20px;
  }
}
